/* *{
    margin: 0px;
} */
.head{
    /* border: 2px solid black; */
    display: flex;
    background: linear-gradient(black,rgb(96, 96, 96));
    width: 98vw;
    height: 8%;
}
.nav{
    padding: 2px;
    margin: 40px 75px 40px 75px;
    color: white;
    font: size 15px;
    padding: 1%;


}
.home{
    /* border: 2px solid black; */
    margin: 40px 75px 40px 75px;
    background: white;
    color: black;
    display: inline;
    margin-inline: 5%;
    padding: 10px 2%;
}
.main1{
    /* border: 2px solid black; */
    background-image:url(https://e0.pxfuel.com/wallpapers/850/763/desktop-wallpaper-construction-site-construction-work.jpg);
    height: 500px;
    width: 98vw;
    background-size: cover;

}
.main2{
    width: 60vw;
    display: flex;
    margin: 2%;
    
}
.images{
    margin: 5px 30px 5px 20px;
    width: 420px;
    height: 450px;

}
.main3{
    background-color: black;
    width: 98vw;
    height: 150%;
    display: flex;
    align-items: flex-end;
}
p{
    color: white;
}
.image3{
    margin: 5%;
    width: 620px;
    height: 400px;
}
.para{ 
    /* display:inline-block; */
    width: 45%;
    /* vertical-align: text-bottom; */

}